.nav {
  display: flex;
  justify-content: space-between;
  height: 9vh;
  min-height: 1cm;
  letter-spacing: 1pt;
  font-weight: 300;
  position: sticky;
  top: 0;
  opacity: 0.9;
}

.gradient {
  background: rgb(251, 157, 63);
  background: linear-gradient(
      90deg,
    rgba(251, 157, 63, 1) 0%,
    rgba(251, 150, 73, 1) 19%,
    rgba(252, 141, 93, 1) 47%,
    rgba(252, 101, 85, 1) 76%,
    rgba(252, 100, 70, 1) 100%
  );
}

.title_container {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 24px;
}

.title {
  width: 30vw;
  min-width: fit-content;
  transition: 300ms;
}

.title:hover {
  color: #E7E7E7;
  cursor: pointer;
}

.navbar_elements_container {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.navbar_element {
  width: 10vw;
  min-width: fit-content;
  margin: 10px;
  transition: 300ms;
}

.navbar_element:hover {
  color: #E7E7E7;
  cursor: pointer;
}
