.App {
  width: 100vw;
  height: 100vh;
  background: rgb(251, 157, 63);
  background: radial-gradient(
    circle,
    rgba(251, 157, 63, 1) 0%,
    rgba(251, 150, 73, 1) 19%,
    rgba(252, 141, 93, 1) 47%,
    rgba(252, 101, 85, 1) 76%,
    rgba(252, 100, 70, 1) 100%
  );

  opacity: 0.85;
}


.welcome_message_container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  text-align: center;
}

.message {
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1pt;
  margin-bottom: 20pt;
  color: #484343;

}

.highlight {
  color: #E7E7E7
}

.links_container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 50pt;
}

.icon {
  height: 100px;
  width: 100px;
  margin-right: 10pt;
  color:black;
  transition: 0.3s;
  opacity: 0.8;
}

.icon:hover {
  color: #E7E7E7;
  cursor: pointer;
  opacity: 0.8;
}